<!DOCTYPE html>
<html lang="en">
<head>
	<span th:insert="components/head"></span>
</head>
<span th:insert="components/pagina-interna-start"></span>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<p class="card-header" style="font-size:35px;"><span th:text="${painel.nomePainel}"></span></p>
			<div class="card-body">
				<a onclick="openModal();" th:href="${painel.urlPainel}" target="_blank" class=" float-right"><i
						class="fas fa-angle-double-right"></i> Acessar o Painel</a>
				<div class="p-5">
					<input class="form-control" type="hidden" id="codigo" name="codigo" th:value="${painel.codigo}">
					<div class="form-row">
						<div class="form-group col-md-1">
							<label for="inputEmail4" class="text-primary font-weight-bold">Código</label>
							<p th:text="${painel.codigo}"></p>
						</div>
						<div class="form-group col-md-7">
							<label for="inputEmail4" class="text-primary font-weight-bold">Nome Painel</label>
							<p th:text="${painel.nomePainel}"> </p>
						</div>
						<div class="form-group col-md-4">
							<label for="inputEmail4" class="text-primary font-weight-bold">Estado do Painel</label>
							<p th:text="${painel.nomeEstadoPainel}"></p>
						</div>
					</div>
					<hr>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputEmail4" class="text-primary font-weight-bold">Exibição do Painel</label>
							<p th:text="${painel.nomeExibicaoPainel}"></p>
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4" class="text-primary font-weight-bold">Vigência (Início)</label>
							<p th:text="${#dates.format(painel.dataInicio, 'dd-MM-yyyy')}"> </p>
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4" class="text-primary font-weight-bold">Vigência (Fim)</label>
							<p th:text="${#dates.format(painel.dataFim, 'dd-MM-yyyy')}"> </p>
						</div>
					</div>
					<hr>

					<div class="form-row">
						<div class="form-group col-md-8">
							<label for="inputPassword4" class="text-primary font-weight-bold">URL do Painel</label>
							<p th:text="${painel.urlPainel}"> </p>
						</div>
						<div class="form-group col-md-4">
							<label for="inputPassword4" class="text-primary font-weight-bold">Imagem do
								Painel</label>
							<br>
							<img th:src="'../../contadoria/linkImagem?codPainel='+${painel.codigo}" width="128"
								height="128" class="rounded">
						</div>
					</div>
					<hr>

					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="inputPassword4" class="text-primary font-weight-bold">Descrição do
								Painel</label>
							<p th:text="${painel.descricaoPainel}"> </p>
						</div>
					</div>
					<hr>
				</div>
				<hr>
				<a style="margin: 0 3px;" onclick="openModal();" th:href="'paineisAlterar?id='+${painel.codigo}"
					class="btn btn-warning float-right"><i class="fas fa-edit"></i> Alterar Painel</a>
				<a style="margin: 0 3px;" th:href="'painelDesativar?id='+${painel.codigo}"
					class="btn btn-secondary float-right"><i class="fas fa-stop"></i>&nbsp; Desativar </a>
				<a style="margin: 0 3px;" th:href="'painelPublicar?id='+${painel.codigo}"
					class="btn btn-success float-right"><i class="fas fa-thumbs-up"></i>&nbsp; Publicar </a>
				<a onclick="openModal();" th:href="abrirEdicaoPaineis" class="btn btn-primary float-left"><i
						class="fas fa-undo"></i> Voltar </a>
			</div>
		</div>
	</div>
</div>
<span th:insert="components/pagina-interna-end"></span>


<div class="row">
	<div class="col-md-12">
		<div class="card">
			<p class="card-header" style="font-size:35px;"><span th:text="${painel.nomePainel}"></span></p>
			<div class="card-body">
				<a onclick="openModal();" th:href="${painel.urlPainel}" target="_blank" class=" float-right"><i
						class="fas fa-angle-double-right"></i> Acessar o Painel</a>
				<div class="p-5">
					<input class="form-control" type="hidden" id="codigo" name="codigo" th:value="${painel.codigo}">
					<div class="form-row">
						<div class="form-group col-md-1">
							<label for="inputEmail4" class="text-primary font-weight-bold">Código</label>
							<p th:text="${painel.codigo}"></p>
						</div>
						<div class="form-group col-md-7">
							<label for="inputEmail4" class="text-primary font-weight-bold">Nome Painel</label>
							<p th:text="${painel.nomePainel}"> </p>
						</div>
						<div class="form-group col-md-4">
							<label for="inputEmail4" class="text-primary font-weight-bold">Estado do Painel</label>
							<p th:text="${painel.nomeEstadoPainel}"></p>
						</div>
					</div>
					<hr>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputEmail4" class="text-primary font-weight-bold">Exibição do Painel</label>
							<p th:text="${painel.nomeExibicaoPainel}"></p>
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4" class="text-primary font-weight-bold">Vigência (Início)</label>
							<p th:text="${#dates.format(painel.dataInicio, 'dd-MM-yyyy')}"> </p>
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4" class="text-primary font-weight-bold">Vigência (Fim)</label>
							<p th:text="${#dates.format(painel.dataFim, 'dd-MM-yyyy')}"> </p>
						</div>
					</div>
					<hr>
			</div>
		</div>
	</div>
</div>



</html>