<!DOCTYPE html>
<html>
<head>
  <title>Selecionar Itens e Enviar</title>
</head>
<body>
  <h2>Itens:</h2>
  <form action="enviar" method="post">
    <label><input type="checkbox" class="check-item" name="item" value="Item 1"> Item 1</label>
    <label><input type="checkbox" class="check-item" name="item" value="Item 2"> Item 2</label>
    <label><input type="checkbox" class="check-item" name="item" value="Item 3"> Item 3</label>
    <!-- Adicione mais checkboxes conforme necessário -->

    <button type="submit">Enviar</button>
  </form>
</body>
</html>
