<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<title>Entrada</title>
</head>
<body>
		
		<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<span class="login100-form-title p-b-26">
						<img src="fotos/paisagem.png" width="60" height="60">
					</span>
					
					<div class="container-login100-form-btn ">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<a th:href="cadastroInquilino" class="login100-form-btn">
								<span>Novo Inquilino</span>
							</a>
						</div>
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<a th:href="listagem" class="login100-form-btn">
								<span>Lista Inquilinos </span>
							</a>
						</div>
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<a th:href="loginInqui" class="login100-form-btn">
								<span>Login</span>
							</a>
						</div>
					</div>
			</div>
		</div>
	</div>
	
</body>
</html>