<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<title>Entrada</title>
</head>
<body>
	<div class="container-login100">
		
		<span class="login100-form-title p-b-26">
			<img src="fotos/paisagem.png" width="60" height="60">
		</span>
		
		<div class="wrap-input100">
			<span th:if="${#lists.isEmpty(lista)}">
				Sem resultados de cadastros encontrados para exibir.
			</span>
			<span th:unless="${#lists.isEmpty(lista)}">
				<table class="table table-striped">
					<thead>
						<th style="width: 200px;">CPF</th>
						<th style="width: 800px;">Nome</th>
						<th style="width: 200px;">Tipo Inquilino</th>
						<th>#</th>
					</thead>
					<tbody>
						<tr th:each="inqui : ${lista}">
							<td th:text="${(#strings.toUpperCase(inqui.cpf))}"></td>
							<td th:text="${(#strings.toUpperCase(inqui.nome))}"></td>
							<td>
								<span th:if="${inqui.tipoInquilino} == A">
									<span class="badge badge-warning"> Aluguel</span>
								</span>
								<span th:unless="${inqui.tipoInquilino} == A">
									<span class="badge badge-success"> Quitado</span>
								</span>
							</td>
							<td>
								<div class="container-login100-form-btn">
									<div class="wrap-login100-form-btn">
										<div class="login100-form-bgbtn"></div>
										<a class="login100-form-btn-dtl" th:href="'detalharInquilino?id='+${inqui.cpf}"> Detalhar</a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</span>
			</div>
			
		<div class="container-login100-form-btn">
			<div class="wrap-login100-form-btn">
				<div class="login100-form-bgbtn"></div>
				<a th:href="home" class="login100-form-btn">
					Voltar
				</a>
			</div>
		</div>
	</div>
</body>
</html>