.box,
form {
	gap: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

input {
	display: flex;
	width: 375px;
	height: 40px;
	border-radius: 7px;
	padding: 0 15px 0 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #fff;
	color: #002D4B;

}

img {
	align-items: flex-start;
	margin-left: 645px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 200px;
}

header {
	background-color: #002D4B;
}

h5 {
	margin-right: auto;
}